[Unit]
Description=TMS WMTS proxy service

[Service]
Type=simple
Environment=USER=ubuntu
ExecStart=/bin/bash /home/${USER}/tms-wmts-proxy/run_wmts-to-tms-proxy.sh >> /home/${USER}/tms-wmts-proxy/output.log 2>&1

[Install]
WantedBy=multi-user.target
